
.bannerportafolio {
		background-image: url(../img/pexels-daan-stevens-939331.jpg);
		padding: 90px;
	}

.row {
	display: flex;
	padding: 5px;
	flex-wrap: wrap;
}
.img-portafolio {
	width: 25%;
}