
	.bannernosotros {
		background-image: url(../img/pexels-daan-stevens-939331.jpg);
		padding: 90px;
	}


.imagennosotros{
	width: 60%;
	border-radius: 5%;
	margin-left: 8%;
}

.imagennosotros2{
	width: 60%;
	border-radius: 5%;
	margin-left: 15%;
	margin-top: -40%;
}