$color_1: black;
$color_2: azure;
$color_botones:	rgb(243, 156, 18);
$color_titulos:rgb(8,85,76);
$font-family_1: 'Courier Prime', monospace;
$font-family_2: 'Playfair Display', serif;
$background-color_1: rgba(213, 213, 213, 0.548);
$background-color_2: aliceblue;
$background-color_3: black;
$background-color_4: rgb(245, 245, 228);
$background-color_5: antiquewhite;
$background-color_6: white;
$background-color_gris-claro:rgb(245, 238, 248)